
	   #header{
	   background-color:black;
	   color:white;
	   text-align: center;
	   padding:5px;}
	   
	   #nav{
	   line-height:30 px;
	   background-color:#ffffff;
	   height:400px;
	   width: 150px;
	   float:left;
	   padding: 5px;

	   }
	p
{
    font-size: large;
}
h1
{
    font-size: small;
}
	   #Section{
	   background-color:#bbbbbb;
	   width:auto
	   float:left;
	   padding: 10px;
	   heigt: 400px;}
	   
	   #footer{
	   background-color: blue;
	   color: black;
	   clear:both;
	   text-align: center;
	   padding: 5px;
	   }
	   
	   