table {
border: medium solid #000000;
width: 50%;
margin-left: 150px;
}

td, th /* Mettre une bordure sur les td ET les th */

{

    border: 1px solid black;
    

}
caption
{
	background-color:#ffffff;
	border: 2px solid #760001;
}
#titre
{
	margin-top: 50px;
	
	border: 1px solid black;
}
#position
{
	margin-left: 150px;
	position: absolute;
    top : 100;
    left: 200;
}
.image_fond
{

	background-image:url(bistro.jpg);
	color: white;
}

header
	{
	  background-color:black;
	  color:white;
	  text-align: center;
	  padding:5px;
	}
#bloc_page

{

    width: auto;

    margin: auto;

}	   
#nav
{ 
line-height:30 px;
background-color:#ffffff;
	   height:400px;
	   width: 150px;
	   float:left;
	   padding: 5px;
	   border: 2px solid #760001;
}
	   
	   
nav a

{

    font-size: 1.3em;

    color: #181818;

    padding-bottom: 3px;

    text-decoration: none;

}


nav ul
{

    list-style-type: none;

    display: flex;

}
nav li

{

    margin-right: 15px;

}
#footer
{
	   background-color: blue;
	   color: black;
	   clear:both;
	   text-align: center;
	   padding: 5px;
	   
}
#button_position
{
	position: absolute;
    bottom: 250;
    left: 600;
}