#bloc_page

{

    width: auto;

    margin: auto;

}	   
#nav
{ 
line-height:30 px;
background-color:#ffffff;
	   height:400px;
	   width: 150px;
	   float:left;
	   padding: 5px;
	   border: 2px solid #760001;
}
	   
	   
nav a

{

    font-size: 1.3em;

    color: #181818;

    padding-bottom: 3px;

    text-decoration: none;

}


nav ul
{

    list-style-type: none;

    display: flex;

}
nav li

{

    margin-right: 15px;

}
#footer
{
       background-color: blue;
       color: black;
       clear:both;
       text-align: center;
       padding: 5px;
       
}
header
    {
      background-color:black;
      color:white;
      text-align: center;
      padding:5px;
    }
    #mes_photos

{
    background-color: #bbbbbb;
    
    float: left;
    padding: 10px;
    height: 400px;
    width: 1050px;

}

#mes_photos img

{

    border: 1px solid #181818;

    margin-right: 2px;

}