header
	{
	  background-color:black;
	  color:white;
	  text-align: center;
	  padding:5px;
	}
#bloc_page

{

    width: auto;

    margin: auto;

}	   
#nav
{ 
line-height:30 px;
background-color:#ffffff;
	   height:400px;
	   width: 150px;
	   float:left;
	   padding: 5px;
	   border: 2px solid #760001;
}
	   
	   
nav a

{

    font-size: 1.3em;

    color: #181818;

    padding-bottom: 3px;

    text-decoration: none;

}


nav ul
{

    list-style-type: none;

    display: flex;

}
nav li

{

    margin-right: 15px;

}
#conteneur
{
	position: absolute;
    bottom : 350;
    left: 400;
    border: 1px solid black;

}
#photo_profil
{
	width: 35%;
	margin-left: 15px;


	
}
#infos
{

	position: absolute;
    top : 100;
    left: 500;
}
#footer
{
	   background-color: blue;
	   color: black;
	   clear:both;
	   text-align: center;
	   padding: 5px;
	   
}

#message
{
	
	position: absolute;
    bottom : 250;
    left: 200;
}