body { 
  text-align: center;
  
  background-image:url(campus.jpg)
}



.text {
  font-family : Apple Chancery, cursive;
  color:white;
}


.titre {
    font-family: Impact,fantasy;
    margin: 0 auto;
    color:coral;
    width: 150px;
    border-width:4px;
    border-style:solid;
    border-color:white;
}